@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-froly: #F47073;
  --color-crimson: #EC1115;
  --color-totempole: #A60C0E;
  --color-junglegreen: #27AE60;
  --color-charade: #292A33;
  --color-tuna: #343541;
  --color-jumbo: #85868D;
  --color-alabaster: #F7F7F7;
  --color-mercury: #E5E5E5;
  --color-solitude: #EBF3FE;
  --color-royalblue: #2F80ED;

  --font-large-semibold: 600 8rem/102% 'Eczar', sans-serif;
  --font-normal-medium: 500 1.8rem/1.8rem 'Roboto Mono', sans-serif;
  --font-normal-regular: 400 1.8rem/2.1rem 'Roboto', sans-serif;
  --font-small-bold: 700 1.4rem/1.85rem 'Roboto Mono', sans-serif;
  --font-small-regular: 400 1.4rem/2.38rem 'Roboto', sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  font: var(--font-normal-regular);
  color: var(--color-charade);
  background-color: var(--color-white);
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
input, button {
  font-family: inherit;
}
textarea {
  white-space: revert;
}
button {
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 0px)    { .rim { padding: calc(100vw/60) } }
@media (min-width: 320px)  { .rim { padding: calc(100vw/48) } }
@media (min-width: 640px)  { .rim { padding: calc(100vw/48) } }
@media (min-width: 960px)  { .rim { padding: calc(100vw/36) } }
@media (min-width: 1280px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 1600px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 1920px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 2240px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 2560px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 2880px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3200px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3520px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3840px) { .rim { padding: calc(100vw/24) } }